language: python
python:
  - '3.5'
  - '3.6'
  - '3.7'
before_install:
  - pip install poetry
install:
  - poetry install -v
  - pip install tox-travis
  - pip install flake8
before-script:
  - flake8
script:
  - tox
