language: python
python:
  - '3.10'
before_install:
  - pip install poetry
  - pip install codecov
  - pip uninstall -y urllib3
  - pip install urllib3==1.26.6
install:
  - poetry install -v
  - pip install tox-travis
  - pip install flake8
script:
  - tox
  - flake8
after_success:
  - codecov
  - bash <(curl -s https://codecov.io/bash)
before_deploy:
  - poetry build
deploy:
  skip_cleanup: true
  provider: pypi
  username: __token__
  password:
    secure: V+VIA2mXvD+OI/eDfIzVfWrsMfSyQngaxVheki7NW65lHB/YG0AyvHdFy0uACeK+T+fG/LU9fucQd+kNKPnxlZup9Vnr/odVp9oirHJQGf07rjE9/zk0lCJ2uxvp4jyaDWVfZIVtCLQAF9EdlI7g9/ejzZT6vR2iYOMOtt4YEKwLKbFtu3nkID+2CQR6QSykzCyVNiv91bJEcWx2gAmzvmJehJPSuRQr6vBTqiluG65wDrBKjuhrKGCCEY9RmtuWMod4KRJu5XqsHdLwfAn+I7TijoykintiAepyhSbsA06bHmA22r+5/PZ+0zPlZotR43NhWhKuumXcI5M55kPpmdUIk/kLDXnGFKTmYXbgtvggfn400dUy9LDTV0PS4BKx1DtlmD90FDXM1209h8bbmRsPHxwGcu0+02B5qPd6+AXL41XQNa3u7G57v/uYhH6/y5n2VZQOKd7BCgiw1W3QKpTzFd7DVubjo3/vdldH9DAYv3HJkjhVol0muUotKe1wkrH/kaFZ/g8MG2kxRxvg1ANfUdRRAcqMdtEOU0gLdSwaLNJ28zuUjZ2Wrjag33YBNDlOHLkY2xgOsb8unuXreGZr6T5LglRssC8/PDpTb3cWVNrj/NyDr+mVI2KPX8HyLJu3NHDv34lRqe+QQBqTMYAwxDCOeDnGROYikfzOaIw=
  skip_existing: true
  on:
    branch: master
    tags: true
