[tool.poetry]
name = "capgains"
version = "0.1.0"
description = "A CLI tool to calculate your capital gains"
license = "MIT"
readme = "README.md"
authors = ["Emil Maric"]

[tool.poetry.dependencies]
python = "^3.5"
click = "^7.1.2"
pandas = "0.23.3"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
tox = "^3.15.0"

[tool.poetry.scripts]
capgains = "capgains.cli:capgains"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
